.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(235, 197, 132);
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    white-space: pre-wrap;
}

/* .note-content {
    display: flex;
} */

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-footer .del {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: darkred;
    padding: 0 2px;
    height: 100%;
}

.note-footer .del:hover {
    cursor: pointer;
    color: red;
    font-weight: bold;
}