.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  padding: 10px;
  border: 1px solid #000;
}