.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  padding: 15px;
}